<% @images.each do |image| %>
  <% link = image.split('/').last %>
  <%= image_tag  link %>
  <ul>
    <li>
      <% share_text = CGI.escape("#robisadummy #{Rails.application.secrets.url}/images/#{link}") %>
      <a class="twitter-share-button"
         href="https://twitter.com/intent/tweet?text=<%=share_text%>">
        Share to Twitter</a>
    </li>
  </ul>
<% end %>

